html,
body {
}
/* table {
    margin: 0 auto;
} */

table {
  border-collapse: collapse;
  margin: auto;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 15px;
  text-align: center;
}

html,
body {
}
/* table {
    margin: 0 auto;
} */

table {
  border-collapse: collapse;
  margin: auto;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 15px;
  text-align: center;
}

