html,
body {
    
    uday yacham
<<<<<<< HEAD
    vinuthna
}
/* table {
    margin: 0 auto;
} */

table {
  border-collapse: collapse;
  margin: auto;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 15px;
  text-align: center;
}

html,
body {
}
/* table {
    margin: 0 auto;
} */

table {
  border-collapse: collapse;
  margin: auto;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 15px;
  text-align: center;
}

html,
body {
}
/* table {
    margin: 0 auto;
} */

table {
  border-collapse: collapse;
  margin: auto;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 15px;
  text-align: center;
}

html,
body {
}
/* table {
    margin: 0 auto;
} */

table {
  border-collapse: collapse;
  margin: auto;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 15px;
  text-align: center;
}

html,
body {
}
/* table {
    margin: 0 auto;
} */

table {
  border-collapse: collapse;
  margin: auto;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 15px;
  text-align: center;
}

html,
body {
}
/* table {
    margin: 0 auto;
} */

table {
  border-collapse: collapse;
  margin: auto;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 15px;
  text-align: center;
}

html,
body {
}
/* table {
    margin: 0 auto;
} */

table {
  border-collapse: collapse;
  margin: auto;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 15px;
  text-align: center;
}

html,
body {
}
/* table {
    margin: 0 auto;
} */

table {
  border-collapse: collapse;
  margin: auto;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 15px;
  text-align: center;
}

html,
body {
}
/* table {
    margin: 0 auto;
} */

table {
  border-collapse: collapse;
  margin: auto;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 15px;
  text-align: center;
}

html,
body {
}
/* table {
    margin: 0 auto;
} */

table {
  border-collapse: collapse;
  margin: auto;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 15px;
  text-align: center;
}

html,
body {
=======
    smurithi
>>>>>>> 333f99d0484d162df27c9b7afe8bc40d4822feb1
=======
    sahara
>>>>>>> 571126fa659e35ec6c063842e168f8b6ffd7037e
=======
    sssss
>>>>>>> e5025a77b943bdba2459aac7df52384f12991687
=======
    nani
>>>>>>> fc42a1751526cbda8a952e8757490b792e7ab5ca
}
/* table {
    margin: 0 auto;
} */

table {
  border-collapse: collapse;
  margin: auto;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 15px;
  text-align: center;
}

html,
body {
}
/* table {
    margin: 0 auto;
} */

table {
  border-collapse: collapse;
  margin: auto;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 15px;
  text-align: center;
}

